.button {
    color: white;
    font-size: 20px;
    background:rgb(255, 0, 0);
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    text-align:center;
}

@media screen and (max-width: 600px) {
    .button {
        font-size: 15px;
    }
}

@media screen and (min-width: 600px) {
    .button {
        font-size: 15px;
    }
}

@media screen and (min-width: 1000px) {
    .button {
        font-size: 20px;
    }
}