.box {
    background-image: linear-gradient(to right, rgba(204, 0, 0, .5), #eee 20% ) ;
    border: 1px solid #c00;
    border-radius: 10px;
    box-shadow: 0 5px 10px 5px rgba(0, 0, 0, .3);
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex:1;
    justify-content: space-between;
}
.header {
    color: #c00;
    text-decoration: underline;
    margin: 0 0 20px;
}

.summary {
    font-size: 12px;
    margin: 0 0 20px;
}

.time {
    font-weight: bold;
}
